<h2>Create a new job here!</h2>

<% if @company != nil %>
  <h3>Company: <%= @company.name %></h3>
<% end %>

<h4><%= link_to "Create New Company", new_company_path %></h4>

<% if @company != nil %>
  <%= render partial: "form" %>
<% else %>
  <%= render partial: "independent_job_form" %>
<% end %>
